<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongzhu.flowable.mapper.TaskMapper">

    <select id="getAssigneeByInstanceId" resultType="string">
        SELECT a.assignee_
        FROM ACT_HI_ACTINST a
        JOIN ACT_RU_TASK b ON b.id_ = a.task_id_
        WHERE act_type_ = 'userTask'
          AND b.proc_inst_id_ = #{instanceId}
          and a.tenant_id_ = #{tenantId}
          and b.tenant_id_ = #{tenantId}
    </select>

    <select id="getTaskList" resultType="com.zhongzhu.flowable.dto.TaskDTO">
        select a.task_id_ as taskId
            , a.act_name_ as taskName
            , a.proc_def_id_ as definitionId
            , a.proc_inst_id_ as instanceId
            , a.start_time_ as createDate
            , b.task_def_key_ as definitionKey
            , d.name_ as `name`
            , c.name_ as instanceName
            , c.business_key_ as businessKey
        from ACT_HI_ACTINST a
        join ACT_RU_TASK b on a.task_id_ = b.id_
        join ACT_RU_EXECUTION c on a.proc_inst_id_ = c.proc_inst_id_
        join ACT_RE_PROCDEF d on d.id_ = a.proc_def_id_
        where a.assignee_ = #{userId}
            and b.suspension_state_ = 1
            and a.act_type_ = 'userTask'
            and d.key_ = #{key}
            and a.tenant_id_ = #{tenantId}
            and b.tenant_id_ = #{tenantId}
            and c.tenant_id_ = #{tenantId}
            and d.tenant_id_ = #{tenantId}
            and c.business_key_ <![CDATA[ <> ]]> ''
        <if test="name != null and name != ''">
            and d.name_ like #{name}
        </if>
        order by a.start_time_ desc
    </select>

</mapper>